{
    "delay_seconds": 60,
    "sensors": [
        {
            "name": "sensorname",
            "temp_adj": 0,
            "serial": "sensorserial"
        },
        {
            "name": "sensorname",
            "temp_adj": 0,
            "serial": "sensorserial"
        },
        {
            "name": "sensorname",
            "temp_adj": 0,
            "serial": "sensorserial"
        }
    ],
    "thinger": {
        "user": "thingeruser",
	    "bucket_id": "thingerbucket",
        "auth_key": "thingerauth"
    },
    "sqlitedb": {
        "db_file": "sqlite.db"
    }
}
